<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--<suite name="ParallelSuite" parallel="tests" thread-count="7">-->

	<!--<groups>
		<define name="dailybuild">
			<include name="smoke" />
			<include name="sanity" />
		</define>
		<define name="weeklybuild">
			<include name="regression" />
		</define>
		<run>
			<include name="all" />
			
		</run>
	</groups>-->
	
<suite name="mySuite">
	
	<listeners>
	<listener class-name="com.automation.test.reports.ExtentReportsManager"></listener>
	</listeners>
	
	<parameter name="siteURL"
		value="https://testautomationpractice.blogspot.com/" />


	<test name="Chrome browser Enter Fields">
		<parameter name="browser" value="chrome"></parameter>

		<classes>
			<class name="com.automation.test.fields.EnterFieldsTest" />
		</classes>
	</test>

	<test name=" Chrome browser Select Radio button">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class
				name="com.automation.test.checkbox.radiobutton.SelectRadioButtonTest" />

		</classes>
	</test>

	<test name=" Chrome browser Select Checkbox">
		<parameter name="browser" value="chrome"></parameter>
		<classes>

			<class name="com.automation.test.checkbox.radiobutton.CheckBoxTest" />
		</classes>
	</test>

	<test name="Firefox Select dropdowns">
		<parameter name="browser" value="edge"></parameter>
		<classes>
			<class name="com.automation.test.dropdowns.CountryDropdownTest" />
		</classes>
	</test>

	<test name=" Chrome browser ColorsDropdownTest ">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.automation.test.dropdowns.ColorsDropdownTest" />
		</classes>
	</test>

	<test name=" Chrome browser AnimalsDropdownTest">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.automation.test.dropdowns.AnimalsDropdownTest" />
		</classes>
	</test>

	<test name="Firefox Select DOB">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.automation.test.datepickers.DatepickerTest" />

		</classes>
	</test>
</suite>
